@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: theme("colors.white");
}

::selection {
  background: theme("colors.yellow");
}

::-moz-selection {
  background: theme("colors.yellow");
}

.pts-tester {
  height: 100%;
}

/* main { */
/*   margin: 100px 150px; */
/* } */

/* @media (max-width: 1080px) { */
/*   main { */
/*     margin: 100px 100px; */
/*   } */
/* } */

/* @media (max-width: 768px) { */
/*   main { */
/*     margin: 100px 100px; */
/*   } */
/* } */

/* @media (max-width: 480px) { */
/*   main { */
/*     margin: 100px 25px; */
/*   } */
/* } */
