@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: theme('colors.white');
}

::selection {
    background: theme('colors.yellow');
}

::-moz-selection {
    background: theme('colors.yellow')
}