---
import Layout from "../layouts/Layout.astro";
import Visualization from "../components/Visualization.astro";
import Section, { type SectionItem } from "../components/Section.astro";

const projects: SectionItem[] = [
  {
    heading1: "2024",
    heading2: "showoff",
    url: "https://showoff.gg",
    description: "",
    tags: ["vue"],
  },
  {
    heading1: "2022",
    heading2: "die-abolical",
    url: "https://itch.io/jam/gmtk-jam-2022/rate/1624361",
    description:
      "a puzzle game where the die with the highest face crushes the other. made using pico-8 in under two days for the 2022 gmtk game jam.",
    tags: ["pico-8", "lua"],
  },
  {
    heading1: "2020",
    heading2: "adblockchain",
    url: "https://github.com/mjsamuel/adblockchain",
    description:
      "a proof of concept for an alterative payment model of the web.",
    tags: ["web3", "blockchain"],
  },
];

const contact: SectionItem[] = [
  {
    heading1: "github",
    heading2: "mjsamuel",
    url: "https://github.com/mjsamuel",
  },
  {
    heading1: "email",
    heading2: "hello@mjsamuel.com",
    url: "mailto:hello@mjsamuel.com",
  },
];
---

<Layout>
  <main class="flex flex-col items-center py-8">
    <div class="flex w-full flex-col gap-8 px-4 md:px-0 md:w-xl">
      <!-- Header -->
      <div>
        <h1 class="text-3xl font-bold">
          <a href="/">MATTHEW SAMUEL</a>
        </h1>
        <span class="text-secondary"
          >developer based in melbourne automating all the things</span
        >
        <div class="bg-primary mt-4" style="height: 325px">
          <Visualization />
        </div>
      </div>
      <!-- Sections -->
      <Section title="Projects" items={projects} />
      <Section title="Links" items={contact} />
    </div>
  </main>
</Layout>
