---
import Layout from "../layouts/Layout.astro";
import Visualization from "../components/Visualization.astro";
import Section, { type SectionItem } from "../components/Section.astro";

const projects: SectionItem[] = [
  {
    heading1: "2024",
    heading2: "showoff",
    url: "https://beta.showoff.gg",
    description: "",
    tags: ["next.js"],
  },
  {
    heading1: "2022",
    heading2: "die-abolical",
    url: "https://itch.io/jam/gmtk-jam-2022/rate/1624361",
    description:
      "a puzzle game where the die with the highest face crushes the other. made using pico-8 in under two days for the 2022 gmtk game jam.",
    tags: ["pico-8", "lua"],
  },
];

const contact: SectionItem[] = [
  {
    heading1: "github",
    heading2: "mjsamuel",
    url: "https://github.com/mjsamuel",
  },
  {
    heading1: "email",
    heading2: "hello@mjsamuel.com",
    url: "mailto:hello@mjsamuel.com",
  },
];

const recentPosts: SectionItem[] = Object.values(
  import.meta.glob("./blog/*.md", { eager: true }),
)
  .map((post: any) => ({
    heading1: null,
    heading2: post.frontmatter.title,
    description: post.frontmatter.description,
    url: post.url,
  }))
  .slice(0, 3);
---

<Layout>
  <div class="flex flex-col gap-8">
    <!-- Visualization -->
    <div class="bg-primary" style="height: 325px">
      <Visualization />
    </div>
    <!-- Sections -->
    <div class="flex flex-col gap-12 mt-4">
      <Section title="Projects" items={projects} />
      {
        recentPosts.length > 0 && (
          <Section title="Blog Posts" items={recentPosts} />
        )
      }
      <Section title="Links" items={contact} />
    </div>
  </div>
</Layout>
